@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');
*{padding:0; margin:0; outline:0}
body{font-family: 'Open Sans', sans-serif;font-size:14px;line-height:18px;}
img{width:100%;}
p{ font-family: PT Sans;}
.topsection{
	background:#252323;
	padding: 15px 0;
}
.logo{ 
	float:left;
}
.logo img{}
.social{
	float:right;
}
.social i{
	color:#C1C1C1;
	font-size:30px;
	margin-left:25px
}
.social i:hover{
	color:#00bac6;
}
.mainmanu{
	
}
.top-bar {
  padding: 0 0.5rem;
}
.top-bar, .top-bar ul {
  background-color: #fff;
}
.top-bar input {
  background: #fff url("../img/search.png") no-repeat scroll 170px center;
  margin-right: 1rem;
  margin-top: 20px;
  width: 200px;
}


[type="search"]:focus {
  background:url(../img/search.png) no-repeat scroll 170px center #fff;
  
}

.menu > li:not(.menu-text) > a {
  border-bottom: 3px solid transparent;
  color: #8b8b8b;
  display: block;
  font-family: open sans;
  line-height: 1;
  margin-right: 20px;
  padding: 2rem 1rem;
  text-transform: uppercase;
  font-weight:bold;
}
.menu > li:not(.menu-text) > a:hover,#active{
	color:#00bac6;
	border-bottom:3px solid #00bac6
}
.slidersection{
	background:url(../img/banner.jpg) no-repeat center center;
	padding:170px 0px;
	color:#fff
}
.items {
  margin: 0 auto;
  max-width: 730px;
}
.items h2 {
  font-family: open sans;
  font-weight: bold;
  text-transform: uppercase;
  word-spacing: 5px;
}
.items p {
  font-family: PT Sans;
  font-size: 15px;
}
.servicesection {
  color: #818181;
  padding: 50px 0 0;
}
.service{}
.service h2 {
  font-family: open sans;
  font-size: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.service p {
  font-family: PT Sans;
  font-size: 15px;
  margin: 0 auto;
  max-width: 998px;
}
.sameservice {
  color: #969696;
  margin-top: 50px;
}
.sameservice2 {
  background: rgba(0, 0, 0, 0) url("../img/up.png") no-repeat scroll center bottom;
  color: #969696;
  margin-top: 90px;
  padding-bottom: 80px;
}
.sameservice2 i{
	color: #00BAC6;
  font-size: 140px;
}
.sameservice2 h3 {
  font-family: open sans;
  font-size: 20px;
  font-weight: 400;
}
.sameservice2 p {
  font-family: PT Sans;
  font-size: 14px;
  max-width: 300px;
}
.sameservice i {
	color: #CACACA;
  font-size: 120px;
  
}
.sameservice h3 {
  font-family: open sans;
  font-size: 20px;
  font-weight: 400;
}
.sameservice p {
  font-family: PT Sans;
  font-size: 14px;
  max-width: 300px;
}
.makebold{
	font-weight:bold;
	color:#646464;
}
.servbold{
	font-weight:bold;
	color:#808080;
}
.productsection{
	background:#EEEEEE;
	padding:50px 0px;
}
.sameproduct {
  border: 1px solid #b8b8b8;
  margin-bottom: 30px;
}
.sameproduct img {
  max-height: 208px;
  
}
.prostyle {
  padding: 20px 25px;
}
.prostyle h4 {
  color: #808080;
  font-family: open sans;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}
.prostyle p {
  color: #969696;
  font-family: PT Sans;
  font-size: 14px;
  line-height: 19px;
  margin: 0;
  max-width: 260px;
}
.brandsection{
	padding: 60px 0;
}
.Blogo1{}
.Blogo1 img {
  margin-top: 16px;
  max-width: 215px;
}


.Blogo2{}
.Blogo2 img {
  margin-left: 10px;
  margin-top: 10px;
}


.Blogo3{}
.Blogo3 img {
  margin-left: 75px;
  margin-top: 42px;
  max-width: 180px;
}


.Blogo4{}
.Blogo4 img {
  margin-left: 78px;
  max-width: 160px;
}
.footertop {
  background: rgba(0, 0, 0, 0) url("../img/fbg.jpg") no-repeat scroll center center;
  padding: 50px 0;
}
.samefooter {
  margin-right: 80px;
}
.samefooter h2 {
  color: #fff;
  font-family: open sans;
  font-size: 22px;
   margin-bottom: 20px;
}
.samefooter p {
  color: #c0c0c0;
  line-height: 20px;
 
}
.postdate {
  background: rgba(0, 0, 0, 0) url("../img/icon1.png") no-repeat scroll 0 4px;
  color: #898989;
  padding-left: 20px;
}
.postdate2 {
  border-top: 1px solid #606060;
  margin-top: 25px;
  padding-top: 25px;
}

.footerstyle{
	font-size:20px;
	color:#f5f5f5;
}
.map {
  background: rgba(0, 0, 0, 0) url("../img/icon2.png") no-repeat scroll 0 0;
  margin-bottom: 15px;
  margin-top: 25px;
  padding-left: 40px;
}
	
.mail{ 
	background: rgba(0, 0, 0, 0) url("../img/icon3.png") no-repeat scroll 0 4px;
	margin-bottom: 15px;
	padding-left: 40px;
	
	
}
.phone{
	background: rgba(0, 0, 0, 0) url("../img/icon4.png") no-repeat scroll 0 4px;
	padding-left: 40px;
}
.footersection {
  background: rgba(0, 0, 0, 0) url("../img/footer.jpg") no-repeat scroll center center;
  padding: 29px 0;
  color:#C1C1C1;
}
.footbottom{}
.copyright{
	float:left;}

.copyright p {
  margin: 5px 0 0;
}

.social2 {
  float: right;
  margin-right: 80px;
}
.social2 i{
	color:#C1C1C1;
	font-size:30px;
	margin-left:25px
	
}
.social2 i:hover{
	color:#00bac6;
}
.{}
.{}
.{}
.{}
.{}




